body {
  padding: 10px;
  width: 400px;
}

.type {
  text-align: right;
}

.courses, .options {
  display: inline-block;
  width: 50%;
}

.courses {

}

.options {
  margin-left: -5px;
  vertical-align: top;
}
